h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: crimson;
    
}
h2{
    font-size: 40px;
}
p{
    color: darkgoldenrod;
}
body{
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
}
.blue-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 50px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, blue,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
.physical{
    background-image: url(hen-images/Backgorund/image\ 18.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-banner{
    background-image: url("hen-images/Backgorund/image\ 12.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.murog-basic{
    box-shadow: 10px 10px 40px green;
    border-radius: 10px 5px;
    height: 100%;
    background-color: white;
}
.male-vs-female{
         box-shadow: 10px 10px 40px green;
         border-radius: 10px 5px;
         height: 100%;
         background-color: white;
}
.murog{
    background-image: url("hen-images/Backgorund/image\ 16.png");
    background-repeat: no-repeat;
    background-position: left;

}
#brac{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, yellow);
    border-image-slice: 1;

}
#Difference{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan) ;
    border-image-slice: 1;
  
}
footer p{
    text-align: center;
    font-size: 12px;
    font-style: oblique;
    color: blueviolet;
}